header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgba(34, 19, 119, 0.842);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 10px gray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

aside {
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}