/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

/* Page width */
header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
}

/* Navigation */
header {
    background-color: #1b4965;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Heading */
h1,
h2 {
    color: #1b4965;
    margin: 16px 0;
    text-align: center;
}

/* Profile Image */
img {
    display: block;
    margin: 16px auto;
    border-radius: 50%;
    border: 3px solid #1b4965;
}

/* Paragraph */
p {
    text-align: center;
    margin: 16px;
}

/* List */
ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #1b4965;
    font-weight: bold;
}

ul li a:hover {
    color: #62b6cb;
}

/* Footer */
footer {
    background-color: #1b4965;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}